.secDiv{
    padding: 0 auto;
    display: flex;
    justify-content:center;
    background-color: #fff;
    flex-wrap:wrap;
    margin:0 auto;
    height:auto;
    width:100%;
}
.banner{
    width:100%;
    height:60vh;
}
.poster{
    /* display:flex;
    justify-content:center; */
    width:100%;
    height:100%;
    object-fit:cover;
}
/* @media only screen and (max-width:900px) {
    .banner{
    margin:0;
    }
} */