.mainDiv{
    display:flex;
    justify-content: center;
    margin: 0 auto;
    background-color: #fff;
    min-height:450px;
    border-left: 1px solid #d3d3d3;
    border-right: 1px solid #d3d3d3;
    width:80%;
}